<%- include('../../partials/_header', { user: user }) %>

<div class="space-y-12">
  <section class="all-articles">
    <h1 class="text-3xl font-bold border-b-2 border-primary pb-2 mb-6"><%= pageTitle %></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <% if (articles.length > 0) { %>
        <% articles.forEach(article => { %>
          <%- include('../../partials/_articleCard', { article: article }) %>
        <% }) %>
      <% } else { %>
        <p>No articles have been published yet.</p>
      <% } %>
    </div>
  </section>
</div>

<%- include('../../partials/_footer') %>
