/* src/public/css/custom.css */
.prose .img-left {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
}

.prose .img-right {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

.prose .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after aligned images to prevent layout issues */
.prose .img-left + *,
.prose .img-right + * {
    clear: both;
}

.prose code{

    font-size: 0.69em;
}

#imagePreviewContainer{
    max-height: 300px;
    overflow: hidden;
}

.editor-statusbar{
    color:var(--color-gray-900)
}
