  </main>
  <footer class="bg-white mt-12 py-6 border-t">
    <div class="container mx-auto text-center text-gray-500">
      <p>&copy; <%= new Date().getFullYear() %> Artsy Thoughts. All rights reserved.</p>
    </div>
  </footer>

     <!-- START OF NEW CODE: Add highlight.js script and initialize it -->
    <script src="/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!-- END OF NEW CODE -->
</body>
</html>


